body {
  max-width: 100%;
  margin: 0.4in;
  padding: 0;
  font-size: 11pt;
  line-height: 1.4;
}

h1 {
  font-size: 20pt;
  margin-top: 0.3in;
  margin-bottom: 0.2in;
}

h2 {
  font-size: 16pt;
  margin-top: 0.25in;
  margin-bottom: 0.15in;
}

h3 {
  font-size: 14pt;
  margin-top: 0.2in;
  margin-bottom: 0.1in;
}

p {
  margin-bottom: 0.15in;
  text-align: justify;
}

code {
  background-color: #f5f5f5;
  padding: 2px 4px;
  font-size: 10pt;
}

pre {
  background-color: #f5f5f5;
  padding: 10px;
  overflow-x: auto;
  font-size: 9pt;
}

img {
  max-width: 100%;
  height: auto;
}
